* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "WorkSans";
    font-weight: 400;
    /* max-width: 1404px; */
}

html {
    text-align: center;
}

@font-face {
    font-family: "WorkSans";
    src: url(../fonts/WorkSans-Regular.ttf);
}

@font-face {
    font-family: "DidactGothic";
    src: url("../fonts/DidactGothic-Regular.ttf");
}

@font-face {
    font-family: "fjallaOne";
    src: url("../fonts/FjallaOne-Regular.ttf");
}

a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

button {
    background-color: #ffffff00; 
    border: 2px solid #ffffff;
    color: white;
    padding: 16px 26px;
    text-align: center;
    font-family: "fjallaOne";
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button-schwarz {
    border: 2px solid black;
}

.button-schwarz a {
     color: black;
}

header p {
     font-size: 20px;
}

header h1 {
    font-size: 100px;
    font-family: "DidactGothic";
}

header h3 {
    font-size: 160px;
}

.seite-1 {
    background-image: url("../images/portfolio2.jpg");
    background-size: cover;
    width: 100vw;
    height: 100vh;
    color: white;
    position: relative;
}

h4 {
    font-size: 22px;
    margin: 40px 0 80px 0;
}

.panel-left {
    margin: 193px 0 40px 220px;
    text-align: left;
    position: absolute;
}

.panel-right {
    position: absolute;
    right: 120px;
    bottom: 100px;
}

.panel-right p {
    font-size: 165px;
    font-family: "fjallaOne";
    color: #9E9E9E;
    opacity: 50%;
}

h2 {
    font-size: 112px;
    font-family: "DidactGothic";
}


.seite-2 {
    background-image: url("../images/portfolio3.png");
    background-size: cover;
    width: 100vw;
    height: 100vh;
    position: relative;
}

.seite-3 {
    background-image: url("../images/portfolio4.jpg");
    background-size: cover;
    width: 100vw;
    height: 100vh;
    position: relative;
    color: white;
}

.seite-4 {
    background-image: url("../images/portfolio5.png");
    background-size: cover;
    width: 100vw;
    height: 100vh;
    position: relative;
}

.seite-5 {
    background-color: #000000;
    color:white;
    width: 100vw;
    height: 100vh;
    position: relative;
}


.seite-5 p {
    font-size: 22px;
    color:#666666;
    margin-bottom: 70px;
}

.seite-5 h2 {
    margin: 130px auto 130px auto;

}

.absatz-rechts {
    text-align: left;
    width: 700px;
    position: absolute;
    right: 120px;
    bottom: 100px;
}


